*,
::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #d3b7b7;
}
.container-couleurs,
.container-range,
.container-btn,
.container-radio {
    height: auto;
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-couleurs {
    flex-direction: column;
}
.container-radio {
    flex-direction: column;
    padding-top: 20px;
}
.gradient-lineaire { 
    margin-bottom:20px;
    display: flex;
}
.gradient-radial { 
    display: flex;
}
input {
    width: 100%;
    border-radius: 5px;  
    padding: 15px;
    font-size: 20px;
    outline: none;
    border: 2px solid #886262;  
    margin: 5px 0;
    font-weight: 500;
}
.container-btn {
    align-items: center;
}
button {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: 2px solid #886262;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
button img {
    width: 30px;
    pointer-events: none; /* si on met un event listener sur le bouton, il faut qu'il fonctionne meme quandon clique sur l'image du bouton donc on met ça */
}
span {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: #553c3c;
    
}
.animation {
    animation: remuer 1s linear 1;
}

@keyframes remuer {
    0%,
    7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-13deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%,
    100% {
        transform: rotateZ(0);
    }
}